*.mk
*.session
*.tags
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
/Debug
/Release
/c9y/Debug
/c9y/Release
/c9y_test/Debug
/c9y_test/Release
